*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{
    background: rgb(5, 5, 81);
}
#area{
    background: #fff;
    width: 400px;
    aspect-ratio: 1;
    margin-top: 80px;
    overflow: hidden;
}

#object{
    background: orange;
    width: 60px;
    aspect-ratio: 1;
    transform: translateY(-100%);
}


    #object.is-moving{
    animation-name: movament;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes movament {
    to {
        transform: translateY(400px);

    }
}