/* .change_color{
    background-color: aqua;
}

.change_size{
    width: 200px;
    height: 400px;
} */

/* вариант 1 */
/* div{
    color: blue;
    background-color: lightblue;
    margin-bottom: 10px;
    width: 200px;
}

.active{
    background-color: blue;
    color: lightblue;
} */